vaadin-tab[selected] {
    font-weight: 500;
    color: var(--lumo-primary-color);
}

vaadin-tab {
    cursor: pointer;
    font-weight: 400;
    font-size: 0.875rem;
    color: var(--lumo-primary-color-active);
            /*#504646;*/
}

.section-title {
    color: #1e2225;
    font-weight: 500;
    font-size: 14px;
}
vaadin-tab[orientation="horizontal"]::before {
    width: calc(100%);
    height: 3px;
}

vaadin-tab[orientation="horizontal"]::after  {
    width: calc(100%);
    height: 3px;
}
jmix-tabsheet::part(content){
    padding: var(--lumo-space-s) 0;
}