.domain-main-box {
    border: solid 1px var(--lumo-contrast-10pct);
    width: 100%;
    border-radius: var(--lumo-border-radius-l);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: transform 0.2s, box-shadow 0.2s;
}

.domain-main-box:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.domain-main-box-header {
    padding: var(--lumo-space-m);
    display: flex;
    align-items: center;
    gap: var(--lumo-space-m);
    border-bottom: 1px solid var(--lumo-contrast-10pct);
}

.domain-main-box-header img {
    width: 64px;
    height: 64px;
    border-radius: var(--lumo-border-radius);
    object-fit: cover;
}

.domain-main-box-header span {
    font-size: var(--lumo-font-size-l);
    font-weight: bold;
    /*color: var(--lumo-primary-text-color);*/
}

.domain-main-box-header #totalSets {
    margin-left: auto;
    color: var(--lumo-secondary-text-color);
    font-size: var(--lumo-font-size-s);
    background-color: var(--lumo-contrast-5pct);
    padding: var(--lumo-space-xs) var(--lumo-space-s);
    border-radius: var(--lumo-border-radius-m);
    display: flex;
    align-items: center;
}

.domain-main-box-body {
    padding: var(--lumo-space-m);
    color: var(--lumo-secondary-text-color);
    line-height: 1.5;
    flex-grow: 1;
}

.domain-main-box-detail-label {
    color: var(--lumo-secondary-text-color);
}

.domain-main-box-footer {
    display: flex;
    justify-content: center;
    padding-bottom:var(--lumo-space-m);
    width: 100%;

}

/*#viewBtn {*/
/*    background-color: var(--lumo-primary-color);*/
/*    color: white;*/
/*    font-weight: 500;*/
/*    border-radius: var(--lumo-border-radius-m);*/
/*    cursor: pointer;*/

/*}*/

/* Responsive layout for domain fragments */
.domain-fragment-container {
    flex: 0 0 calc(33.333% - var(--lumo-space-l));
    max-width: calc(33.333% - var(--lumo-space-l));
    box-sizing: border-box;

}

/* Tablet apisetting */
@media screen and (max-width: 1024px) {
    .domain-fragment-container {
        flex: 0 0 calc(50% - var(--lumo-space-m));
        max-width: calc(50% - var(--lumo-space-m));
    }
}

/* Mobile apisetting */
@media screen and (max-width: 600px) {
    .domain-fragment-container {
        flex: 0 0 100%;
        max-width: 100%;
    }
}